* text=auto 
have filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
or filter=lfs diff=lfs merge=lfs -text
whatever filter=lfs diff=lfs merge=lfs -text
big filter=lfs diff=lfs merge=lfs -text
files filter=lfs diff=lfs merge=lfs -text
you filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
